In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import warnings
warnings.filterwarnings("ignore")

In [3]:
train_input = pd.read_csv("Credit_Risk_Train_data.csv")
test_input = pd.read_csv("Credit_Risk_Validate_data.csv")

In [4]:
print(train_input.columns)
print(test_input.columns)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'outcome'],
      dtype='object')

In [5]:
#The last column has a different name in both, lets make it same and fill the missing values accordingly
test_input.rename(columns={"outcome":"Loan_Status"},inplace=True)

In [6]:
train_input.shape

(614, 13)

In [7]:
#Putting all data together to handle missing data
data_all = pd.concat([train_input,test_input],axis=0,ignore_index=True)

In [8]:
Counter(data_all['Gender'])#used to count total no in both genders

Counter({'Male': 775, 'Female': 182, nan: 24})

In [31]:
print(data_all[data_all['Gender'].isnull()].index.tolist()) #these rows are null for gender
gender_null = data_all[data_all['Gender'].isnull()].index.tolist()
print(gender_null)

[23, 126, 171, 188, 314, 334, 460, 467, 477, 507, 576, 588, 592, 636, 665, 720, 752, 823, 845, 859, 893, 910, 917, 932]
[23, 126, 171, 188, 314, 334, 460, 467, 477, 507, 576, 588, 592, 636, 665, 720, 752, 823, 845, 859, 893, 910, 917, 932]

In [10]:
#lets see dependents wrt marriage
pd.crosstab(data_all['Married'],data_all['Dependents'].isnull())

Dependents  False  True
Married
No            338      9
Yes           618     13

In [11]:
pd.crosstab(data_all['Dependents'],data_all['Married'])

Married      No  Yes
Dependents
0           276  269
1            36  124
2            14  146
3+           12   79

In [12]:
#so now for bachelors lets fill missing dependents as 0
#lets find the index of all rows with dependents missing and married NO
bachelor_nulldependent = data_all[(data_all["Married"] == "No") & (data_all['Dependents'].isnull())].index.tolist()
bachelor_nulldependent

[293, 332, 355, 597, 684, 752, 879, 916, 926]

In [13]:
data_all['Dependents'].iloc[bachelor_nulldependent]='0'

In [14]:
Counter(data_all['Dependents'])

Counter({'0': 554, '1': 160, '2': 160, '3+': 91, nan: 16})

In [15]:
#lets see dependents wrt marriage
pd.crosstab(data_all['Married'],data_all['Dependents'].isnull())

Dependents  False  True
Married
No            347      0
Yes           618     13

In [16]:
pd.crosstab(data_all['Dependents'],data_all['Married'])

Married      No  Yes
Dependents
0           285  269
1            36  124
2            14  146
3+           12   79

In [17]:
#so female have less dependence
#lets see the gender of the remaining 16 people
data_all['Gender'].loc[data_all[data_all["Dependents"].isnull()].index.tolist()]

102      Male
104      Male
120      Male
226      Male
228      Male
301      Male
335      Male
346      Male
435    Female
517      Male
571      Male
660      Male
725      Male
816      Male
861      Male
865      Male
Name: Gender, dtype: object

In [18]:
self_emp_null=data_all[data_all['Self_Employed'].isnull()].index.tolist()

In [19]:
#fill the missing selfemployed with NO
data_all['Self_Employed'].iloc[self_emp_null]='No'

In [20]:
data_all.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           16
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [21]:
#To check if any row with both LoanAmount with No
pd.crosstab(data_all['LoanAmount'].isnull(),data_all['Loan_Amount_Term'])

Loan_Amount_Term,6.0,12.0,36.0,60.0,84.0,120.0,180.0,240.0,300.0,350.0,360.0,480.0
LoanAmount,,,,,,,,,,,,
False,1,2,3,3,7,4,64,7,20,1,800,22
True,0,0,0,0,0,0,2,1,0,0,23,1

In [22]:
a=data_all['LoanAmount'].mean()

In [23]:
loan_amount=data_all[data_all['LoanAmount'].isnull()].index.tolist()

In [24]:
#fill the missing selfemployed with mean
data_all['LoanAmount'].iloc[loan_amount]=a

In [25]:
data_all['LoanAmount'].isnull().sum()

0

In [26]:
data_all.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           16
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [27]:
b=data_all['Loan_Amount_Term'].mean()

In [28]:
loan_amount_term=data_all[data_all['Loan_Amount_Term'].isnull()].index.tolist()

In [29]:
#fill the missing term with mean
data_all['Loan_Amount_Term'].iloc[loan_amount_term]=b

In [30]:
data_all.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           16
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64