In [208]:
import pandas as pd
import numpy as np

In [209]:
s = pd.Series()
print(s)
print(type(s))

Series([], dtype: float64)
<class 'pandas.core.series.Series'>

In [210]:
# Create a series from nparray
data = np.array(['a','b','e','d'])
s = pd.Series(data)
print(data,'\n')
print(s)

['a' 'b' 'e' 'd']

0    a
1    b
2    e
3    d
dtype: object

In [211]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,'a','102','b'])
print(s)

100    a
a      b
102    c
b      d
dtype: object

In [212]:
data={'a':0,'b':1,'c':2}
s = pd.Series(data,dtype=np.int32)
print(s)
print(s[1])

a    0
b    1
c    2
dtype: int32
1

In [213]:
data={'a':0,'b':1,'c':2}
s = pd.Series(data,index=['b','c','d','a'])
print(s)
print(s['a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64
0.0

In [214]:
s = pd.Series(4,index=[0,1,2,3])
print(s)

0    4
1    4
2    4
3    4
dtype: int64

Accessing Data from Series with Positions

In [215]:
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [216]:
print(s[0])

1

In [217]:
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [218]:
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [219]:
print(s['a'])

1

In [220]:
print(s[['a','b','c']])#elements put in a list then accessed cause mutiple values being accessed
print(s['a':'c'])

a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64

# DataFrame

In [221]:
data=[1,2,3,4,5]
df = pd.DataFrame(data)
print(df)
print(type(df))

   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

In [222]:
data=[['Andrew',10],['Lisa',13]]
df = pd.DataFrame(data)
df= pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0  Andrew   10
1    Lisa   13

In [223]:
data = {'Name':['Phoebe','Ross','Joey','Monica','Rachel'],'Age':[30,17,12,32,31]}
df = pd.DataFrame(data,index= [1,2,3,4,5])
print(df)

     Name  Age
1  Phoebe   30
2    Ross   17
3    Joey   12
4  Monica   32
5  Rachel   31

In [224]:
print(df['Name'])

1    Phoebe
2      Ross
3      Joey
4    Monica
5    Rachel
Name: Name, dtype: object

Create from a list of dictionary

In [225]:
data = [{'a':10,'b':20},{'a':15,'b':25,'c':35}]
df = pd.DataFrame(data)
print(df)

    a   b     c
0  10  20   NaN
1  15  25  35.0

In [226]:
data = [{'a':10,'b':20},{'a':15,'b':25,'c':35}]
df = pd.DataFrame(data,index=['Primary','Secondary'])
print(df)

            a   b     c
Primary    10  20   NaN
Secondary  15  25  35.0

In [227]:
df1 = pd.DataFrame(data,index=['Primary','Secondary'],columns=['b','a'])
print(df1)

            b   a
Primary    20  10
Secondary  25  15

In [228]:
df2 = pd.DataFrame(data,index=['Primary','Secondary'],columns=['a','b1'])
print(df2)

            a  b1
Primary    10 NaN
Secondary  15 NaN

In [229]:
#create a dataframe from a  dict of series
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

Column Selection

In [230]:
print("adding a new column by passing a series")
df['three']= pd.Series([10,20,30],index=['a','b','e'])
print(df)

adding a new column by passing a series
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3    NaN
d  NaN    4    NaN

In [231]:
print("Add new column using existing columns in the data frame")
df['four'] = df['one'] + df['three']
print(df)

Add new column using existing columns in the data frame
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3    NaN   NaN
d  NaN    4    NaN   NaN

Column Deletion

In [232]:
del(df['one'])
print(df)

   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3    NaN   NaN
d    4    NaN   NaN

In [233]:
x = df.pop('two')
print(x)
print(df)

a    1
b    2
c    3
d    4
Name: two, dtype: int64
   three  four
a   10.0  11.0
b   20.0  22.0
c    NaN   NaN
d    NaN   NaN

Row Selection, Addition and Deletion

In [234]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)
print('\n')
print(df.loc['b'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4


one    2.0
two    2.0
Name: b, dtype: float64

In [235]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df,"\n")
print(df.iloc[1]) #iloc=index location

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

one    2.0
two    2.0
Name: b, dtype: float64

In [236]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

Addition of dataframes

In [237]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])#rows are getting added instead of columns
df2=pd.DataFrame([[5,6],[7,8]],columns=['b','d'])
print(df)

   a  b
0  1  2
1  3  4

In [238]:
print(df2)

   b  d
0  5  6
1  7  8

In [239]:
d3 = df.join(df2,lsuffix='1')
print(d3,'\n')

   a  b1  b  d
0  1   2  5  6
1  3   4  7  8

In [240]:
d4 = df2.join(df,lsuffix='1')
print(d4)

   b1  d  a  b
0   5  6  1  2
1   7  8  3  4

In [241]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['c','d'])

In [242]:
df3 = df.append(df2, sort=True)
print(df3)

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  3.0  4.0  NaN  NaN
0  NaN  NaN  5.0  6.0
1  NaN  NaN  7.0  8.0

In [243]:
df = df.drop(0) #removes 1st row
print(df)

   a  b
1  3  4

# Missing Data

In [244]:
df = pd.DataFrame(4,index=['a','c','e','f','h'],columns=['one','two','three'])
print(df,'\n\n')
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

   one  two  three
a    4    4      4
c    4    4      4
e    4    4      4
f    4    4      4
h    4    4      4


   one  two  three
a  4.0  4.0    4.0
b  NaN  NaN    NaN
c  4.0  4.0    4.0
d  NaN  NaN    NaN
e  4.0  4.0    4.0
f  4.0  4.0    4.0
g  NaN  NaN    NaN
h  4.0  4.0    4.0

Checking for min values

In [245]:
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [247]:
df.isnull().sum()

one      3
two      3
three    3
dtype: int64

In [248]:
print(df['one'].sum())

20.0

In [249]:
df_NAN = pd.DataFrame(index=[1,2,3,4,5],columns=['one','two'])#creating an empty dataframe
print(df_NAN)

   one  two
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN
5  NaN  NaN

In [250]:
df=pd.DataFrame(np.random.rand(5,3),index=['a','e','c','f','h'],columns=['one','two','three'])
print(df,'\n \n')
df = df.reindex(['l','a','b','c','d','e','f','g','h'])
print(df)

        one       two     three
a  0.046419  0.584843  0.189515
e  0.613398  0.811019  0.863073
c  0.483833  0.052482  0.307604
f  0.426916  0.046932  0.421798
h  0.191914  0.234132  0.317009


        one       two     three
l       NaN       NaN       NaN
a  0.046419  0.584843  0.189515
b       NaN       NaN       NaN
c  0.483833  0.052482  0.307604
d       NaN       NaN       NaN
e  0.613398  0.811019  0.863073
f  0.426916  0.046932  0.421798
g       NaN       NaN       NaN
h  0.191914  0.234132  0.317009

In [251]:
print(df.fillna(10)) #filling NaN with 10

         one        two      three
l  10.000000  10.000000  10.000000
a   0.046419   0.584843   0.189515
b  10.000000  10.000000  10.000000
c   0.483833   0.052482   0.307604
d  10.000000  10.000000  10.000000
e   0.613398   0.811019   0.863073
f   0.426916   0.046932   0.421798
g  10.000000  10.000000  10.000000
h   0.191914   0.234132   0.317009

In [252]:
print(df.fillna(method='backfill'))

        one       two     three
l  0.046419  0.584843  0.189515
a  0.046419  0.584843  0.189515
b  0.483833  0.052482  0.307604
c  0.483833  0.052482  0.307604
d  0.613398  0.811019  0.863073
e  0.613398  0.811019  0.863073
f  0.426916  0.046932  0.421798
g  0.191914  0.234132  0.317009
h  0.191914  0.234132  0.317009

In [253]:
print(df.fillna(method='ffill'))

        one       two     three
l       NaN       NaN       NaN
a  0.046419  0.584843  0.189515
b  0.046419  0.584843  0.189515
c  0.483833  0.052482  0.307604
d  0.483833  0.052482  0.307604
e  0.613398  0.811019  0.863073
f  0.426916  0.046932  0.421798
g  0.426916  0.046932  0.421798
h  0.191914  0.234132  0.317009

In [254]:
df

        one       two     three
l       NaN       NaN       NaN
a  0.046419  0.584843  0.189515
b       NaN       NaN       NaN
c  0.483833  0.052482  0.307604
d       NaN       NaN       NaN
e  0.613398  0.811019  0.863073
f  0.426916  0.046932  0.421798
g       NaN       NaN       NaN
h  0.191914  0.234132  0.317009

In [255]:
df=pd.DataFrame(np.random.rand(5,3),index=['a','e','c','f','h'],columns=['one','two','three'])
df = df.reindex(['l','a','b','c','d','e','f','g','h'])
#drop all rows with NAN
print(df,'\n')
print(df.dropna(),'\n')
print(df,'\n')
print(df.dropna(axis=0)) #drop all rows with NaN values

        one       two     three
l       NaN       NaN       NaN
a  0.770823  0.331633  0.897721
b       NaN       NaN       NaN
c  0.172403  0.737868  0.680154
d       NaN       NaN       NaN
e  0.485749  0.734095  0.446192
f  0.507538  0.435811  0.902981
g       NaN       NaN       NaN
h  0.350079  0.884151  0.507528

        one       two     three
a  0.770823  0.331633  0.897721
c  0.172403  0.737868  0.680154
e  0.485749  0.734095  0.446192
f  0.507538  0.435811  0.902981
h  0.350079  0.884151  0.507528

        one       two     three
l       NaN       NaN       NaN
a  0.770823  0.331633  0.897721
b       NaN       NaN       NaN
c  0.172403  0.737868  0.680154
d       NaN       NaN       NaN
e  0.485749  0.734095  0.446192
f  0.507538  0.435811  0.902981
g       NaN       NaN       NaN
h  0.350079  0.884151  0.507528

        one       two     three
a  0.770823  0.331633  0.897721
c  0.172403  0.737868  0.680154
e  0.485749  0.734095  0.446192
f  0.507538  0.435811  0.902981
h  0.350079  0.884151  0.507528

In [256]:
#drop all columns with NAN
print(df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [l, a, b, c, d, e, f, g, h]

In [257]:
df = pd.DataFrame({'one': [10,20,30,40,50,2000],
                  'two': [1000,20,0,30,45,60]})
print(df,'\n')
x = df.replace({1000:10,2000:2})
print(x)

    one   two
0    10  1000
1    20    20
2    30     0
3    40    30
4    50    45
5  2000    60

   one  two
0   10   10
1   20   20
2   30    0
3   40   30
4   50   45
5    2   60

In [258]:
d = pd.read_csv('test.csv')

In [259]:
print(d)

   1  aa  a1
0  2  bb  b2
1  3  cc  c3
2  4  dd  d4

In [261]:
df_new = pd.DataFrame(d)

In [262]:
test_df = pd.read_csv('new2.txt')

In [263]:
test_df

   1.aa.a1
0  2.bb.b2
1  3.cc.c3
2  4.dd.d5

In [264]:
t2 = pd.read_csv('new2.txt',sep='.')
t2

   1  aa  a1
0  2  bb  b2
1  3  cc  c3
2  4  dd  d5